@font-face {

  font-family: "PT Sans";
  font-size: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {

  font-family: "PT Sans";
  font-size: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*body*/

body {
font-family: "PT Sans";
font-style: normal;
font-weight: 700
font-size: 20px;
line-height: 24px;
color: #000000;
}


/*header*/

header .nav {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
gap: 30px;
position: absolute;
height: 64px;
padding: 0px 70px 0px 70px;
}

.navigation-list {
display: flex;
flex-direction: row;
align-items: center;
padding: 0;
gap: 21px;
list-style-type: none;
}

.navigation-user{
list-style-type: none;
}

header .button {
width: 92px;
height: 20px;
color: #ffffff;
size: 16px;
line-height: 20px;
text-transform: uppercase;
}

header .button {
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
padding: 8px 50px;
gap: 10px;
background-color: #756157;
border-radius: 4px;
width: 160px;
height: 36px;
top: 14px;
left: 108px;
radius: 4px;
}
