@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

/*body*/

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*header*/
.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-link {
  display: inline-block;
  padding: 19px 0 17px;

  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-user {
  display: flex;
  margin-left: auto;
}

.navigation-user-link {
  text-decoration: none;
}

.navigation-user-link img {
  display: block;
  width: 20px;
  height: 20px;
}

.navigation-button {
  width: 160px;
}

/*main index*/
.main {
  flex-grow: 1;
}

.intro {
  padding-top: 50px;

  color: #000000;

  background-color: #82b3d3;
  background-image: url("../images/svg/hero.svg"),
    url("../images/intro/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
}

.intro-img {
  width: 458px;
  height: 450px;
  margin: 0 auto;
}

.page-description {
  padding: 69px 0;

  text-align: center;
}

.page-title {
  margin: 0 0 25px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-text {
  margin-top: 0;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-recommendations .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-recommendations .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  background-color: #82b3d3;
}

.advantages-container {
  display: flex;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 113px 85px 30px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item-full .advantages-title,
.advantages-item-full .advantages-text {
  color: #ffffff;
}

.search-button {
  width: 376px;
}

.search {
  width: 1200px;
  height: 406px;
  padding: 96px 34px;

  text-align: center;
}

/*main catalog*/

.main-form {
  padding: 35px 70px 68px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/intro/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: 0 none;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
}

.filter-list-item {
  margin-bottom: 8px;
}

.filter-control-lable {
  font-size: 18px;
  line-height: 23px;
}

.filter-button {
  display: flex;
}

.sorting {
  display: grid;
  align-items: center;
  padding: 50px 70px 40px;

  gap: 20px 68px;
  grid-template-columns: 1fr auto auto;
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  padding: 14px 20px;

  appearance: none;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
}

.sorting-item {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-item-title {
  background-image: url("../images/svg/grid.svg");
}

.sorting-item-slideshow {
  background-image: url("../images/svg/pc.svg");
}

.sorting-item-list {
  background-image: url("../images/svg/line.svg");
}

.hotels {
  padding: 0 70px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 80px;
}

.hotels-item {
  margin-bottom: 20px;
  padding: 20px;

  border: #e6e6e6 solid 1px;
  border-radius: 4px;
}

.hotels-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotels-link {
  text-decoration: none;
}

.hotels-rating-text {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #242424;
  background-image: url("../images/intro/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  max-width: 684px;
  margin: 0 auto;

  grid-template-columns: 1fr 232px;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/*footer*/
.footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-social {
  display: flex;
}

.footer-phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;

  color: #83b3d3;
}

.social-link img {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-logo {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}

.footer-logo img {
  display: block;
  width: 100%;
  height: 100%;
}
